<<<<<<< HEAD
.features,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .features {
  display: block;
}
.werty {
    position: absolute;
    z-index: 1;
}
/* Стилизация псевдокнопки */
.btn {
    position: relative;
    z-index: 1;
  /* display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee; */
  cursor: pointer;
  left: 800px;
  top: 700px;
}
.btn2 {
    position: relative;
    
}
.btn4 {
    position: relative;
    
    cursor: pointer;
    left: 800px;
    top: 600px;
}
.btn5 {
    position: relative;
    
    cursor: pointer;
    left: 850px;
    top: 600px;
}
.btn6 {
    position: relative;
   
    cursor: pointer;
    left: 850px;
    top: 700px;
}
.btn7 {
    position: relative;
    
    cursor: pointer;
    left: 725px;
    top: 700px;
}
.btn8 {
    position: relative;
    
    cursor: pointer;
    left: 675px;
    top: 500px;
}
.btn9 {
    position: relative;
    
    cursor: pointer;
    left: 600px;
    top: 750px;
}
=======


>>>>>>> master
iframe {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
<<<<<<< HEAD
}
.features{
    position: absolute;
    z-index: 1;
    left: 1100px;
    top: 50px;
    
}
img#bottom {
    position:absolute;
    left: 0;
  }
  img#top {
    position:relative;
    left: 10px;
    top: 6px;
  }
  .uno {
      position: relative;
      right: 52px;
      bottom: 97px;
      cursor: pointer;
     
  }
  img#top-2 {
      position: relative;
      top: 200px;
      right: 500px;
  }
 .features h1 {
     position: relative;
    top: 80px;
    left: 38px;
    width: 393px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 17px;
 }
 img#top-3 {
     position: relative;
     left: 10px;
     top: 74px;
     width: 493px;
height: 0px;
border: 1.5px solid #DFDFDF;
 }
 .features p {
     position: relative;
     top: 95px;
     left: 40px;
     width: 189px;
     height: 27px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     
     color: #4B4B4B;
 }
 img#top-4 {
     position: relative;
    left: 297px;
    top: 41px;
 }
 img#top-5 {
     position: relative;
     left: 305px;
     top: 40px;
 }
 .features h2 {
     position: relative;
     top: 55px;
     left: 37px;
     width: 157px;
height: 25px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;

color: #4B4B4B;
 }
 img#top-6 {
     position: relative;
     left: 52px;
     top: 53px;
     width: 110px;
height: 165px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #4B4B4B;
 }
 img#top-7 {
     position: relative;
     top: 53px;
     left: 72px;
     width: 98px;
height: 165px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #4B4B4B;
 }
 .use-2 {
     position: relative;
     left: 500px;
     top: 500px;
     border: 0;
 }
 button:hover {
    cursor: pointer;
  }




  .menu {
      position: absolute;
      z-index: 2;
      left: 60px;
    top: 15px;
  }
  img#super {
      position: absolute;
  }
  .bob {
      position: relative;
      left: 45px;
      top: 50px;
      cursor: pointer;
  }
  .bob2 {
      position: relative;
      cursor: pointer;
      right: 187px;
      bottom: 89px;
  }
  .menu2,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .menu2 {
  display: block;
}
  .menu2 {
      position: absolute;
      z-index: 2;
      left: 60px;
      top: 10px;
  }
 .menu2 p {
     position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #00CC52;
    left: 43px;
    bottom: 160px;
 }
.menu2 h1 {
    position: relative;
    font-weight: normal;
font-size: 24px;
line-height: 28px;
left: 43px;
bottom: 165px;

color: #00CC52;
}
.menu2 h2 {
    position: relative;
    font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #00CC52;
left: 43px;
bottom: 163px;
}
.menu2 h3 {
    position: relative;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #FE2867;
bottom: 342px;
left: 43px;
}
.menu2 h4 {
    position: relative;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #FE2867;
bottom: 349px;
left: 43px;
cursor: pointer;
}

=======
    z-index: 0;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(4px);
}


.row {
    height: 100vh;
    backdrop-filter: blur(0px);
    margin: 0;
    align-items: center;
    justify-content: center;
    
}

.logo {
    width: 165px;
    height: 247px;
    background: url('../imgs/logo.svg')center  ;
    margin-right: 54px;
}

.row .col-sm h1 {
    width: 450px;
    font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}

.row .col-sm {
    padding: 0;
}

.row .col-sm:nth-child(2) {
    text-align: center;
}

.col-sm {
    flex-grow: 0;
}

button {
    backdrop-filter: blur(0px);
    background: #00FF66;
    border-radius: 10px;
    border: 0;
    position: relative;
    margin-top: 40px;
}

button p {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 8px 36px 13px 36px;
}

.welcome {
    height: 100%;
    top:50%;
}


>>>>>>> master
