.vhod {
    position: relative;
height: 937px;
    
    background: #00CC52;
}
img#cat {
    position: relative;
    top: 211px;
}
.vhod h1 {
    position: absolute;
    font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 84px;

color: #FFFFFF;
left: 780px;
bottom: 602px;

}
.form {
    position: absolute;
width: 252px;
height: 49px;
left: 860px;
bottom: 514px;
border-radius: 10px;
}
.winter {
    position: absolute;
    width: 252px;
    height: 49px;
    left: 860px;
    bottom: 436px;
    border-radius: 10px;
}
.bomb {
    position: absolute;
    width: 252px;
    height: 49px;
    left: 860px;
    top: 624px;
border-radius: 10px;
background: #FE2867;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
img#has {
    position: relative;
    bottom: 300px;
   right: 300px;
   cursor: pointer;
}
.dady {
    position: absolute;
width: 252px;
height: 49px;
left: 860px;
top: 530px;
border-radius: 10px;
}
